# JetBrains
.idea

#  Local .terraform directories
**/.terraform/*

**/.DS_Store
# .tfstate files
**/*.tfstate
**/*.tfstate.*

# .tfvars files
**/*.tfvars

tools/csw/environments/*/*

!tools/csw/environments/example_environment/*.tfvars